@use '../../../variables.scss' as v;
.headerWrapper{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( v.$whiteForeground, v.$whiteBackground);
    box-shadow: v.$smallShadow;
    .headerInner{
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;
        .left,.right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }

    }
}