.headerWrapper {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--whiteBackground), var(--whiteForeground));
    box-shadow: var(--smallShadow);

    .headerInner {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;

        .left,
        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }

        .right {
            position: relative;

            .dropdownButton {
                height: 40px;
                width: 40px;
                padding: 12px 8px;
                border-radius: var(--mediumBorder);
                background-color: var(--primaryColor);
                box-shadow: var(--smallShadow);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                z-index: 2;
                cursor: pointer;
                transition: var(--fastTransition);

                /* &:hover {
                    scale: 1.05;
                } */
            }

            span {
                display: block;
                width: 24px;
                height: 3px;
                position: relative;
                background: var(--richBlack);
                border-radius: 3px;
                transform-origin: 3px 0px;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
            }

            span:nth-of-type(1) {
                transform-origin: left center;

            }

            span:nth-of-type(3) {
                transform-origin: left center;
            }

            span:nth-of-type(1).show {
                opacity: 1;
                transform: rotate(45deg) translate(1px, -4px);


            }

            span:nth-of-type(2).show {
                opacity: 0;
                transform: rotate(0deg) scale(0, 0);

            }

            span:nth-of-type(3).show {

                transform: rotate(-45deg) translate(1px, 4px);



            }

            .dropdown {
                opacity: 0;
                pointer-events: none;
                transition: var(--mediumTransition);
                min-width: 150px;
                height: auto;
                position: absolute;
                background-color: var(--whiteForeground);
                border-radius: var(--mediumBorder);
                box-shadow: var(--doubleShadow);
                top: 40px;
                right: 0;
                transform: translate((50%, 0));
                padding: 16px;

                .dropdownContent {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    text-align: right;

                    .dropdownOption {
                        cursor: pointer;
                        transition: var(--fastTransition);

                        &:hover {
                            color: var(--secondaryColor);
                        }
                    }
                }

                &.active {
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(16px);
                    z-index: 2;
                }
            }
        }
    }

    .overlayToClose {
        width: 99vw;
        height: 100vh;
        top: 0;
        left: 0;
        pointer-events: none;
        position: absolute;

        &.active {
            pointer-events: all;
            z-index: 1;
        }
    }
}