.employeeCardWrapper {
    display: grid;
    gap: 16px;
    background-color: var(--whiteBackground);
    box-shadow: var(--doubleShadow);
    border-radius: var(--mediumBorder);
    padding: 24px;

    .employeeMainInfo {
        display: flex;
        gap: 16px;
        .separator{
            width: 100%;
            display: grid;
            gap: 12px;
        
        span {
            display: flex;
            justify-content: space-between;
          
            .buttonsWrapper {
                display: flex;
                gap: 16px;
            }

        }
    }
    }
    .employeeMainInfo>{
        display: flex;
        flex-direction: column;
    }


}