.footerWrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( var(--whiteForeground),var(--whiteBackground),);
    .footer{
        width: 1240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0px;
        .col:first-of-type{
           gap: 16px;
           span{
            display: flex;
            align-items: center;
            gap: 16px;
            svg{
                 transition: var(--fastTransition);
            }
            svg:hover{
                fill: var(--primaryColor);
                      
                    
            }
           }
        }
    }
    .line{
        height: 60px;
        background-color: var(--whiteBackground);
        width: 100%;
        border-bottom: 2px solid black;
    }
}
