
.primaryBtn, .secondaryBtn, .dangerBtn{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius:12px;
    height: 40px;
    min-width: 40px;
    white-space: nowrap;
    box-shadow: var(--smallShadow);
    cursor: pointer;
    transition: var(--fastTransition);
    &:hover{
        transform: scale(1.05);
    }
    &:active{
        transform: scale(0.95);
    }
    
}
.primaryBtn{
    background-color: var(--primaryColor);
}

.secondaryBtn{
    background-color: var(--secondaryColor);
}

.dangerBtn{
    background-color:#E74E39;
}
.large{
    height: 60px;
    width: 250px;
    font-size: 24px;
    font-weight: 600;
}
.icon{   
    width: 40px;
    margin: 0;
    padding: 0;
}