/* Section 1 */
.heroBox {
    display: flex;
    position: relative;

    .left {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
            span:nth-of-type(1) {
                color: var(--secondaryColor);
            }

            span:nth-of-type(2) {
                color: var(--primaryColor);
            }
        }
        .snippetsWraper{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .buttonsWrapper{
            display: flex;
            justify-content: space-between;
        }

    }

    .right {
        img {
            width: auto;
            height: calc(100% + 120px);
            position: absolute;
            right: 0px;
            top: -60px;

        }
    }
}

/* Section 2 */
.subjectsBox{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* align-items: center; */
    gap: 60px;
    text-align: center;
    .cardsFrame{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 20px;

    }
    .primaryBtn{
        margin: auto;
    }
}
/* Section 3 */
.aboutBox{
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    .stepsFrame{
        display: flex;
        flex-direction: column;
        gap: 24px;
        
    }
}

/* Section 4 */
.benefitsBox{
    display: flex;
    flex-direction: column;
      text-align: center;
      gap: 60px;
    .benefitsFrame{
        display: flex;
        justify-content: space-between;
        .benefit{
            height: 700px;
            width: 316px;
            background-color: var(--whiteBackground);
            border-top: 8px solid var(--darkGray);
            border-radius: 0 0 168px 168px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            img{
                width: 100%;
                height: auto;
            }
            &.primary{
                background-color: var(--primaryColor);
            }
            &.secondary{
                background-color: var(--secondaryColor);
            }
            &.accent{
                background-color: var(--accentColor);
            }
        }
    }
}