.subjectCardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
    background-color: var(--whiteBackground);
    border-radius: var(--smallBorder);
    box-shadow: var(--doubleShadow);
    border-top: solid 5px var(--accentColor);
    h4{
        font-size: 30px;
    }
}