@use '../../../variables.scss' as v;
.section{
    width: 1240px;
    height: auto;
    padding: 60px;
    background-color: v.$whiteForeground;
    margin-top: 60px;
    box-shadow: v.$doubleShadow;
    border-radius: v.$largeBorder;
        
}
.title{
    margin-top: 16px;
}
