.priceCardWrapper{
    padding: 8px;
    padding-left: 34px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--whiteBackground);
    border-radius: var(--smallBorder);
    box-shadow: var(--mediumShadow);
    span{
        width: 18px;
        height: 38px;
        position: absolute;
        top: 0;
        left: 8px;
        background-color: var(--accentColor);
        border-radius: 2px;
         -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0 0);
    }
}