/* Section 1 */
.heroWrapper {
    display: flex;
    position: relative;

    .left {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
            span:nth-of-type(1) {
                color: var(--secondaryColor);
            }

            span:nth-of-type(2) {
                color: var(--primaryColor);
            }
        }

        .snippetsWraper {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .buttonsWrapper {
            display: flex;
            justify-content: space-between;
        }

    }

    .right {
        img {
            width: auto;
            height: calc(100% + 120px);
            position: absolute;
            right: 0px;
            top: -60px;

        }
    }
}

/* Section 2 */
.subjectsWrapper {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* align-items: center; */
    gap: 60px;
    text-align: center;

    .cardsFrame {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 20px;

    }

    .primaryBtn {
        margin: auto;
    }
}

/* Section 3 */
.aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;

    .stepsFrame {
        display: flex;
        flex-direction: column;
        gap: 24px;

    }
}

/* Section 4 */
.benefitsWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    align-items: center;
    .benefitsFrame {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
}

/* Section 5 */
.bestEmployeesWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    align-items: center;

    .bestEmployeesFrame {
        display: flex;
        gap: 24px;
    }
}

/* Section 6 */
.reviewsWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    .reviewsFrame{
        display: flex;
        gap: 24px;
    }
}

/* Section 7 */
.callToActionWrapper{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--darkGray);
}