// styles for all the fonts, colors, etc. that are used throughout the app
@use './variables.scss' as v;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates",serif;
    color: v.$richBlack
}

h1{
    font-size: 48px;
    font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-size: 36px;
    font-weight: 500;
}
h4{
    font-size: 24px;
    font-weight: 500;
}
h5{
    font-size: 20px;
    font-weight: 500;
}
h6{
    font-size: 18px;
    font-weight: 500;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.p2{
    font-size: 16px;
    font-weight: 400;
    color: v.$darkGray;
}
a{
    text-decoration: none;
    color: inherit;
}