:root {
    /* variables for colors */
    --primaryColor: hsl(14, 96%, 65%);
    --secondaryColor: hsl(45, 100%, 55%);
    --accentColor: hsl(173, 55%, 74%);
    --whiteBackground: hsl(60, 40%, 98%);
    --whiteForeground: hsl(60, 43%, 96%);
    --richBlack: hsl(33, 69%, 3%);
    --darkGray: hsl(0, 0%, 22%);

    /* variables for borders */
    --smallBorder: 6px;
    --mediumBorder: 12px;
    --largeBorder: 24px;

    /* variables for shadows */
    --smallShadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
    --mediumShadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);
    --doubleShadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);

    /* variables for transitions */
    --fastTransition: 0.1s ease-in-out;
    --mediumTransition: 0.3s ease-in-out;
    --slowTransition: 0.4s ease-in-out;
}

.dark-theme{
    --primaryColor: hsl(14, 96%, calc(100% - 65%));
    --secondaryColor: hsl(45, 100%, calc(100% - 55%));
    --accentColor: hsl(173, 55%, calc(100% - 74%));
    --whiteBackground: hsl(60, 40%, calc(100% - 98%));
    --whiteForeground: hsl(60, 43%, calc(100% - 96%));
    --richBlack: hsl(33, 69%, calc(100% - 3%));
    --darkGray: hsl(0, 0%, calc(100% - 22%));

    /* variables for shadows */
    --smallShadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.4);
    --mediumShadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.4);
    --doubleShadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
}
@media (prefers-color-scheme: dark){
    :root{
    --primaryColor: hsl(14, 96%, calc(100% - 65%));
    --secondaryColor: hsl(45, 100%, calc(100% - 55%));
    --accentColor: hsl(173, 55%, calc(100% - 74%));
    --whiteBackground: hsl(60, 40%, calc(100% - 98%));
    --whiteForeground: hsl(60, 43%, calc(100% - 96%));
    --richBlack: hsl(33, 69%, calc(100% - 3%));
    --darkGray: hsl(0, 0%, calc(100% - 22%));

    /* variables for shadows */
    --smallShadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.4);
    --mediumShadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.4);
    --doubleShadow: 0 0 8px 8px rgba(0, 0, 0, 0.4); 
    }
   
}