/* variables for colors*/
$primary-color: #FB7951;
$secondary-color: #FFC61A;
$accent-color: #99E1D9;
$white-background: #FCFCF8;
$white-foreground: #F9F9F0;
$rich-black: #0B0702;
$dark-gray: #373737;

//

