/* variables for colors */
$primaryColor: #FB7951;
$secondaryColor: #FFC61A;
$accentColor: #99E1D9;
$whiteBackground: #FCFCF8;
$whiteForeground: #F9F9F0;
$richBlack: #0B0702;
$darkGray: #373737;

/* varaibles for corners*/
$smallRadius: 6px;
$mediumRadius: 12px;
$largeRadius: 24px;

/* variables for shadows */
$smallShadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
$mediumShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$doubleShadow: 4px 4px 4px rgba(0, 0, 0, 0.25);