.reviewCardWrapper{
    display: flex;
    gap: 24px;
    padding: 24px;
    background-color:var(--whiteBackground);
    border-radius: var(--mediumBorder);
    box-shadow: var(--doubleShadow);

    .reviewInfo{
        display: flex;
        flex-direction: column;
        gap: 8px;
        span{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}